body {
    font-family: "Sansita", cursive;
    background-color: rgb(255, 251, 251);
    color: #000000;
}

body::before{
    content: "";
    background-image: url(../imagens/Background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110%;
    position: absolute;
    z-index: -1;
    opacity: 0.1;
    
}
header{
    margin-top: -50px;
}
.menu a{
    font-size: 25px;
    margin-left: 20px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;

}
span{
    color: #ff0000;
    font-size: 30px;
}
.contacts a{
    display: flex;
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    margin-top: 80px;
}
.midia{
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-right: 15px;
    margin-left: 10px;
}
.faxada{
    height: 70vh;
    width: 45vw;
    border-radius: 30px;
    margin-left: 25%;
    margin-top: -30%;
    border: 1px solid #000000;
    box-shadow: 15px 15px 45px black;
}
form{
    background: #ffffff;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1s;
    width: 400px;
    height: 400px;
}
textarea{
    display: block;
    background: #f9f9f9;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 100px;
    width: 352px;
}
input{
    display: block;
    background: #f9f9f9;
    border: 1px solid #ff0000;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 352px;
    height: 50px;

}
button{
    background:rgb(241, 40, 40) ;
    color:rgb(255, 255, 255) ;
    width: 174px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Sansita", cursive;
    padding: 10px;
    cursor: pointer;
    margin-top: 40px;
}
button:hover{
    opacity: 0.9;
}
button:active{
    opacity: 0.7;
}
.button-back{
    background-color: gray;
}
.duvidas{
    text-align: center;
    width: 130px;
    background-color: transparent;
    color: #000000;
    font-size: 25px;
}
.span{
    color: #ff0000;
}
section{
    transition: opacity 1s;
}

